.active {
    background: transparent linear-gradient(105deg, #0daae9 0%, #0325e1 100%) 0% 0% no-repeat padding-box;
    color: white;
  }
  
  
  
  *:focus {
      outline: none;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
      -webkit-background-clip: text;
      -webkit-text-fill-color: black;
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px transparent;
      
  }
  
  
  .box::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    background: linear-gradient(90deg, purple, green, hotpink);
    z-index: -1;
    filter: blur(20px);
  }